.body {
  padding: 10px 5px;
}

.footer {
  text-align: center;
  background: #e8e5e5;
  line-height: 30px;
}

button {
  padding: 4px 10px;
  font-size: 1em;
  background: #2385c6;
  color: white;
  border-radius: 1px;
  border: none;
  outline: none;

  &:hover {
    cursor: pointer;
    background: #319ae0;
  }
}
