$primary: #e3875a;
$grey: #dddddd;

.body {
  padding: 10px 5px;
}

.footer {
  text-align: center;
  background: $grey;
  line-height: 30px;
}

button {
  padding: 4px 10px;
  font-size: 1em;
  background: $primary;
  color: white;
  border-radius: 1px;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    filter: brightness(1.1);
  }
}
